.navbar {
    display: flex;
    background-color: #000000;
    padding: 10px;
    position: fixed;
    top: 0; /* Fix the navbar at the top */
    width: 100%; /* Make the navbar span the full width */
}

.navbar .button-container {
    display: flex;
}

.navbar button {
    background-color: #000000;
    color: white;
    border: none;
    border-color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #45a049;
}
