.home {
    text-align: center;
    background-image: url("../Images/BG.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.moon {
    cursor: pointer;
    border-radius: 50%;
    width: 25vw;
    height: 25vw;
    position: relative;
    top: -28%;
    z-index: 1;
    pointer-events: auto;
}

.cloudLeft {
    position: absolute;
    left: 15%;
    top: -5%;
    width: 40%;
    height: 40%;
    transition: left 2s ease;
    z-index: 2;
    pointer-events: none;
}

.cloudRight {
    position: absolute;
    right: 5%;
    top: 20%;
    width: 55%;
    height: 45%;
    transition: right 2s ease;
    z-index: 2;
    pointer-events: none;
}

.home .moon:hover ~ .cloudRight {
    right: -20%;
}

.home .moon:hover ~ .cloudLeft {
    left: -10%;
}

.home .moon:hover ~ .godHand {
    bottom: 5%;
}

.godHand {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(0vh - 80%);
    transition: bottom 2s ease;
    z-index: 1;
    pointer-events: none;
}

.godHand img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
