.home {
    text-align: center;
    background-image: url("../Images/BG.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.moon {
    cursor: pointer;
    border-radius: 50%;
    width: 52vh;
    height: 52vh;
    position: relative;
    top: -28%;
    z-index: 1;
    pointer-events: auto;
}

.cloudLeft {
    position: fixed;
    left: 15vw;
    top: 5vh;
    width: 60vh;
    height: 30vh;
    transition: left 2s ease;
    z-index: 2;
    pointer-events: none;
}

.cloudRight {
    position: fixed;
    right: 15vw;
    top: 25vh;
    width: 60vh;
    height: 30vh;
    transition: right 2s ease;
    z-index: 2;
    pointer-events: none;
}

.home .moon:hover ~ .cloudRight {
    right: -20vw;
}

.home .moon:hover ~ .cloudLeft {
    left: -10vw;
}

.home .moon:hover ~ .godHand {
    bottom: 5%;
}

.godHand {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(0vh - 70%);
    transition: bottom 2s ease;
    z-index: 1;
    pointer-events: none;
    height: 100vh; /* Set a fixed height */
    overflow: hidden; /* Hide overflow */
}

.godHand img {
    max-width: 100%;
    height: 80%; /* Make image fill the container height */
    width: auto;
    object-fit: cover; /* Maintain aspect ratio */
    object-position: center top; /* Align image to the top */
}

.home .moon:hover ~ .godHand {
    bottom: -40%; /* Adjust this value to show less or more of the hand */
}
